body{
    font-size: 14px;
    background-image: url(/kepek/hatterek/image.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-resolution: 11;
}

.yehet {
    padding-top: 20px;
    background-image: linear-gradient(grey, black);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 0.8;
    margin-bottom: 20px;
}

p{
    font-weight: bold;
}
p.white{
    color: white;
    opacity: 1;
}
p.blue{
    color: rgb(53, 198, 255);
    opacity: 1;
}
p.yellow{
    color: yellow;
    opacity: 1;
}
p.red{
    color: red;
    opacity: 1;
}
h1{
    text-align: center;
    color: white;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    body { 
        width: 100%;
    }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: grey;
  opacity: 0.6;
  transition: 0.7s;
}

.text:hover {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity: 1;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: grey;
  opacity: 0.6;
  transition: 0.7s;
}

.numbertext:hover {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: grey;
  opacity: 1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

