body{
    background-image: url(kepek/hatterek/220021-bahrain-gp-2022-friday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display-3{
    text-align: center;
    font-weight: bold;
}

fieldset{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    width: 1850px;
    border-top: 10px solid; color: black;
    border-right: 10px solid; color: black;
    border-bottom: 2px solid; color: black;
    border-left: 2px solid; color: black;
    border-top-right-radius: 20px;
}

.row{
    padding-top: 30px;
    column-gap: 40px;
    row-gap: 30px;
}

.nevjegyek{
    padding-top: 40px;
    padding-left: 250px;
}

.card{
    width: 600px;
    height: 750px;
    border: 2px solid; color: black;
    border-radius: 30px;
    background-color: white;
    transition: 0.3s;
}

.card:hover{
    width: 570px;
    height: 770px;
    border: 4px solid; color: black;
}

.card-title{
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 3px solid; color: black;
    font-weight: bold;
}

.card-text-1{
    padding-left: 20px;
    padding-top: 40px;
    font-weight: bold;
}

.card-text-2{
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

ol{
    list-style-type: circle;
}

.yeah{
    padding-bottom: 30px;
}

.card-pic {
    width: 470px;
    height: 470px;
    align-self: center;
    border: 3px solid; color: black;
    border-radius: 5px;
}
