body {
    background-image: url(kepek/egyebkepek/Bahrain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

fieldset {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: 3px solid; color: black;
}

h2 {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    color: black;
}

h4 {
    font-weight: bold;
}

.teampic {
    width: 100%;
    height: 100%;
    align-self: center;
}

.driver {
    width: 100%;
    height: 100%;
    align-self: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    column-gap: 20px;
    row-gap: 100px;
    padding-left: 30px;
    padding-top: 50px;
}

.card {
    border-top: 6px solid; color: red;
    border-right: 6px solid; color: red;
    border-top-right-radius: 10px;
    height: 700px;
    background-color: white;
    width: 600px;
    transition: 0.9s;
}

.card:hover {
    border-top: 6px solid; color: darkred;
    border-right: 6px solid; color: darkred;
    width: 590px;
    height: 690px;
}

li {
    color: black;
}

.info{ 
    padding-top: 8px;
    text-align: center;
    list-style-type: none;
}

.info-1{ 
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
    font-size: 20px;
}

.info-2{ 
    text-align: center;
    list-style-type: none;
    padding-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .card { 
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 900px) {
    .card:hover { 
        width: 410px;
        height: 410px;
    }
}

@media screen and (max-width: 900px) {
    .driver { 
        width: 90%;
        height: 90%;
        padding-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    .info-1,
    .info-2 { 
        padding-top: 5px;
        font-size: 14px
    }
}

@media screen and (max-width: 900px) {
    .info { 
        padding-top: 5px;
        font-size: 10px
    }
}